__pycache__/

.DS_Store
.pytest_cache/
*.pyc
.coverage
coverage.xml
.hypothesis/
*.tmp

allure-results/
allure-report/
history.jsonl

*.egg-info/
.idea/

.ocarina_logs*/

.venv/
*.dont_push/
.screenshots/

dist/
